.header-control-edit {
  p {
    margin: 0;
  }

  .overline {
    background: lightblue;
    border: 1px solid gray;
    padding: 4px 8px;
    width: max-content;
  }

  .title {
    margin: 12px 0 24px;
  }

  &.--center {
    text-align: center;

    .overline {
      margin-inline: auto;
    }
  }
}
