.select-posts-control__selected {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 44px;
  gap: 8px;
  padding: 4px;
  border: 1px solid #ddd;
  font-size: 12px;
  margin-bottom: -1px;
}

.select-posts-control__placeholder {
  color: #aaa;
  padding: 4px;
}

.select-posts-control__selected-item {
  padding: 4px;
  display: flex;
  align-items: center;
  background: oklch(93.2% 0.032 255.585);
  box-sizing: border-box;
  min-height: 36px;
  border-radius: 4px;
  color: oklch(48.8% 0.243 264.376);

  &.--overlay {
    opacity: 0.8;
  }
}

.select-posts-control__selected-handle {
  cursor: grab;
  padding: 0 8px 0 4px;
  border-right: 1px solid oklch(48.8% 0.243 264.376);
}

.select-posts-control__remove-selected {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    fill: oklch(48.8% 0.243 264.376);
  }
}

.select-posts-control__arrow {
  margin-left: auto;
}

.select-posts-control__content {
  border: 1px solid #e0e0e0;
  padding: 8px;

  &.--open {
    display: block;
  }

  &.--closed {
    display: none;
  }
}

.select-posts-control__select-all {
  font-weight: 700;
  margin-bottom: 8px !important;
}

.select-posts-control__checkbox {
  margin-bottom: 0 !important;
}

.select-posts-control__loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.select-posts-control__checkbox-wrapper {
  max-height: 240px;
  overflow-y: auto;
  padding: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.select-posts-control__checkbox-label {
  --background-color: transparent;
  --color: oklch(14.5% 0 0);
  font-size: 16px;

  background-color: var(--background-color, transparent);
  color: var(--color, inherit);
  transition: color 0.3s ease;
  transition-property: background-color, color;

  &:hover {
    --background-color: oklch(97% 0.014 254.604);
  }

  &:has(input:checked) {
    --background-color: oklch(93.2% 0.032 255.585);
    --color: oklch(48.8% 0.243 264.376);
  }

  .components-base-control__field {
    margin-bottom: 0;
  }

  .select-posts-control__checkbox {
    font-size: 16px;
  }
}

.components-panel__body {
  position: relative;
}
